.solid {
  position: relative;
  background: url('./images/snowflake_4.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -1px;
  margin-bottom: -50px;
}